.special 
{

    color: rgb(224, 224, 224);
}
.btnStyle 
{
    color: rgb(12, 161, 161)  !important;
    border: solid 1px rgb(196, 196, 196) !important;
    transition: all 0.5s;
}

.btnStyle:hover
{
    box-shadow: 0px 0px 10px rgb(12, 161, 161) ;
}

@media screen and (min-width:0px) and (max-width:576px)
{
    .right 
{
    margin-top: 10% !important;
}
}

.buttonStyleLogin 
{
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    font-size: 16px !important;
}
.buttonStyleLogin:hover  
{
    text-decoration: none !important;
}